apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: route-openshift
spec:
  host: {{ .Values.hostname }}
  tls:
    termination: edge
  port:
    targetPort: 8080 
  to:
    kind: Service
    name: flask-app-service